@tailwind base;

/* Scrollbar */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
  
  *::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
  
.thinking {
    @apply block w-[16px] h-[16px] rounded-full;
    animation: pulse 1s infinite;
}

